// // Внутренние переменные
$x-color-background: #000000;
$x-color-secondary: #F9F9F9;
$x-color-black: #000000;
$x-color-gray: #A2A9AF;
// Глобальные переменные
$palette-primary: $x-color-background;
$palette-secondary: $x-color-secondary;
$palette-text-gray: $x-color-gray;